<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Korowai Packages Test Suite">
            <directory suffix="Test.php">./packages/*/Tests/</directory>
            <exclude>packages/rfclib/Tests/Rfc2253Test.php</exclude>
            <exclude>packages/rfclib/Tests/Rfc2849Test.php</exclude>
            <exclude>packages/rfclib/Tests/Rfc2849xTest.php</exclude>
            <exclude>packages/rfclib/Tests/Rfc3986Test.php</exclude>
            <exclude>packages/rfclib/Tests/Rfc5234Test.php</exclude>
            <exclude>packages/rfclib/Tests/Rfc8089Test.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./packages/</directory>
            <exclude>
                <directory>./packages/*/Tests</directory>
                <directory>./packages/*/Behat</directory>
                <directory>./packages/*/Resources</directory>
                <directory>./packages/*/vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
