RewriteEngine On
RewriteBase /docs/

# /docs/ -> /docs/latest/
RewriteRule ^$ latest/ [R,L]

# /docs/{foo} -> /docs/{foo}/
RewriteRule ^([^/]+)$ $1/ [R,L]

# /docs/user -> /docs/latest/user/
# /docs/api -> /docs/latest/api/
RewriteRule ^(user|api)/$ latest/$1/ [R,L]

# /docs/latest/ -> /docs/latest/user/
RewriteRule ^latest/$ latest/user/ [R,L]

# /docs/{foo}/ -> /docs/{foo}/user/ (only if we have {foo} branch)
RewriteCond %{REQUEST_URI} ^/docs/([^/]+)/$
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)/$ $1/user/ [R,L]

# Map /docs/latest/ to appropriate branch
##RewriteRule ^latest/(.*)$ master/$1 [L]
RewriteRule ^latest/(.*)$ devel/$1 [L]
